<div class="col-lg-12 jumbotron jumbotron-background-header homeText">
    <div class="col-lg-push-4 col-lg-9"><label class="homepageTitle">SOCKET</label></div>
    <div class="col-lg-push-5 col-lg-8"><label class="homepageTitle">GENERATOR</label></div>
    <blockquote class="center-block col-lg-5 col-lg-push-4 quoteText"><p>WANT TO USE OUR SUPER AWESOME TOOL?</p></blockquote>

    <div class="col-lg-12"></div>

    <div class="col-lg-12">
        <center>
            <a class="btn btn-validate btn-info">Log in</a>
            <a class="btn btn-validate btn-info">register</a>
        </center>
    </div>


</div>

<div class="col-lg-8 col-lg-push-2 jumbotron jumbotron-background-aboutUs">
    <h2>ABOUT US</h2>
    <p>
    <blockquote class="col-lg-6">We are a company of ten students, divided in two groups. Our group consists of five persons. We are focussing on the european part
        of web developers. For more information visit our <a>github</a> page</blockquote>
    </p>
</div>

<div class="col-lg-8 col-lg-push-2 jumbotron jumbotron-background-gitHub align-right">
    <h2>GITHUB</h2>
    <p>
    <blockquote class="col-lg-6 col-lg-push-6 blockquote-reverse">On our GitHub page you can find all the latest developments in the running project. We hope to keep you
        up-to-date and maybe invoke you in the project.</blockquote>
    </p>
</div>

<div class="col-lg-8 col-lg-push-2 jumbotron jumbotron-background-helloWorld">
    <h2>HELLO WORLD</h2>
    <p>
    <blockquote class="col-lg-6">Llorum ipsum en heel veel bacon voor hier een beetje text komt te staan, moeten we eerst een mooi stuk geprogrammeerd hebben
        en deze moet vervolgens ook nog te publiceren zijn. Wij hopen hierbij op uw begrip en we zullen hier zo snel mogelijk wat aan doen.</blockquote>
    </p>
</div>


<div class="col-lg-12 jumbotron jumbotron-footer">
    <div class="col-lg-4">
        <h4>Groupmembers</h4>
        <ul class="list-group">
            <li>Mark Duijf</li>
            <li>Sebastiaan Vonk</li>
            <li>Vincent van Rossum</li>
            <li>Sam van Geijn</li>
            <li>Eric Jans</li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h4>Project management</h4>
        <ul class="list-group">
            <div class="col-lg-4">
                <li>Theo Theunissen</li>
                <li>Robert Holwerda</li>
                <li>Pim Haenen</li>
            </div>
            <div class="col-lg-8">
                Product Owner <br>
                Process Coach <br>
                Professional Skills
            </div>
        </ul>
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-12">
        <center>© Socket Designer EU 2015</center>
    </div>
</div>