<div id="topMessage" ng-class="{errorMessage: isErrorMessage===true, succesMessage: isErrorMessage===false}" ng-show="showHomeMessage">{{homeMessage}} <button class="btn btn-primary btn-xs" ng-click="hideMessage()">Close</button></div>
<div class="generatorPage">
    <div ng-show="error != null">
    <div style="color:white">Something went wrong!<br/>
    {{error}}
    </div>
    </div>
    <center><button class="btn btn-validate btn-default generateButtons" ng-click="Generate()">Generate client-side code</button></center>
    <!--TODO: de onderstaande knop heeft nog geen functie. De functie namen moeten misschien wat tactischer worden-->
    <center><button class="btn btn-validate btn-default generateButtons" ng-click="">Generate server-side code</button></center>
    <center><button class="btn btn-validate btn-default generateButtons" id="generatorSaveButton" ng-click="saveInput()">Save Project</button></center>
    <center><button class="btn btn-validate btn-default generateButtons" id="generatorLoadButton" ng-click="getTest()">Get A Project</button></center>
    <pre id="editor">
info:
    title:
    description:
    port: 3000
    namespace:
client:
    chat:
        join:
            summary: De user post iets in de chat
            description: weet ik veeeeeeel
            parameters:
                - name: username
                  required: true
                  type: string
                  description:

        message:
            summary: Wanneer een user iets post moet een andere user het kunnen ontvangen
            description: weet ik veeeeeeel
            parameters:
                - name: username
                  required: true
                  type: string
                  description:
                - name: message
                  required: true
                  type: string
                  description: n
            responses:
                  type: emit            /to the client itself/broadcast (socket.to(id).emit.... zo respons je naar een client zelf)
                  parameters:
                    - name: message
                      required: true
                      type: string
                      description:
                    - name: username
                      required: true
                      type: string
                      description:

server:
    chat:
        date:
            summary: De server stuurt af en toe random de datum naar de client.. als voorbeeld
            description: niet relevant
            parameters:
                - name: date
                  required: true
                  type: date
                  description: 10-11-2015

    </pre>
    <pre id="generated">
    </pre>
</div>

<div style="margin-top: 40px; overflow: scroll" class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog maxLengthDialog" role="document">
        <div class="modal-content">
            <div class="modal-body maxLengthBody">
                <p ng-repeat="data in beschikbareCode" ng-click="setCode(data.code)" class="codeKiesveld">{{data.projectname}}</p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 40px; overflow: scroll" class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>Enter a project name</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <label for="projectName">Project name: </label>
                <input ng-model="projectName" type="text" class="form-control" id="projectName">
            </div>
            <div class="modal-footer">
                <button id="saveButton" type="submit" class="btn btn-primary" ng-click="saveProject()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
