<div class="col-lg-12 jumbotron jumbotron-background-header homeText">
    <div class="col-lg-push-4 col-lg-8"><label class="homepageTitle">SOCKET</label></div>
    <div class="col-lg-push-5 col-lg-7"><label class="homepageTitle">GENERATOR</label></div>

</div>

<div class="col-lg-10 col-lg-push-1">

    <div class="col-lg-9">
        <div class="col-lg-12 chatfield">
            <textarea disabled draggable="false" class="noResize chatArea list-group-item">
                > Mark: hello
                > Vincent: welcome to our community
            </textarea>
        </div>
        <div class="col-lg-12">
            <input type="text" class="input-lg " id="inputChat" placeholder="Input Message">
            <button class="btn btn-success" type="button">Send</button>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="col-lg-12 lobbylist">
            <ul class="list-group">
                <li class="list-group-item">
                    Room 1
                </li>
                <li class="list-group-item">
                    Room 2
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <a class="btn btn-success">Back to lobby</a>
        </div>
    </div>

</div>