<section id="intro" class="main style1 dark fullscreen">
    <div class="content container 75%">
        <header>
            <h2>Hey.</h2>
        </header>
        <button id="logInButton" data-toggle="modal" data-backdrop="static" data-target="#loginModal">Login</button>
        <button id="registerButton" data-toggle="modal" data-backdrop="static" data-target="#registerModal">Register</button>
        <footer>
            <a href="#aboutus" class="button style2 down">More</a>
        </footer>
    </div>
</section>

<!-- One -->
<section id="aboutus" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>What I Do</h2>
        </header>
        <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
            Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
            id varius justo euismod in. Curabitur egestas consectetur magna.</p>
    </div>
    <a href="#GitHub" class="button style2 down anchored">Next</a>
</section>

<!-- Two -->
<section id="GitHub" class="main style2 left dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>Who I Am</h2>
        </header>
        <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
            Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
            id varius justo euismod in. Curabitur egestas consectetur magna.</p>
    </div>
    <a href="#helloworld" class="button style2 down anchored">Next</a>
</section>

<!-- Work -->
<section id="helloworld" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>Who I Am</h2>
        </header>
        <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
            Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
            id varius justo euismod in. Curabitur egestas consectetur magna.</p>
    </div>
    <a href="#contact" class="button style2 down anchored">Next</a>
</section>

<!-- Contact -->
<section id="contact" class="main style3 secondary">
    <div class="content container">
        <header>
            <h2>Say Hello.</h2>
            <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
        </header>
        <div class="box container 75%">

            <!-- Contact Form -->
            <form method="post" action="#">
                <div class="row 50%">
                    <div class="6u 12u(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                    <div class="6u 12u(mobile)"><input type="email" name="email" placeholder="Email" /></div>
                </div>
                <div class="row 50%">
                    <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
                </div>
                <div class="row">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" /></li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

<div style="margin-top: 40px; overflow: scroll" class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Register
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="firstName">First name:</label>
                        <input type="text" ng-model="registerData.firstName" class="form-control" id="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name:</label>
                        <input type="text" ng-model="registerData.lastName" class="form-control" id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" ng-model="registerData.username" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" ng-model="registerData.password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" ng-model="registerData.email" class="form-control" id="email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="register()" data-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 40px; overflow: scroll" class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Login
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="usernameLogin">Username:</label>
                        <input ng-model="loginData.username" type="text" class="form-control" id="usernameLogin">
                    </div>
                    <div class="form-group">
                        <label for="passwordLogin">Password:</label>
                        <input ng-model="loginData.password" type="password" class="form-control" id="passwordLogin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="login()" data-dismiss="modal">Login</button>
            </div>
        </div>
    </div>
</div>