<!DOCTYPE html>
<html lang="en" ng-app="generatorApp">
<head>
    <meta charset="UTF-8">
    <title>Socket Generator</title>
    <script src="libraries/ace-builds-master/ace-builds-master/src-min-noconflict/ace.js"></script>
    <link rel="stylesheet" href="libraries/bootstrap-3.3.5-dist/css/bootstrap-style.css">
    <link rel="stylesheet" href="libraries/bootstrap-3.3.5-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="libraries/bootstrap-3.3.5-dist/css/PersonalStyle.css">
    <script src="libraries/angular.js"></script>
    <script src="https://code.angularjs.org/1.2.16/angular-route.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/generatorController.js"></script>
    <script src="http://nodeca.github.io/js-yaml/js/esprima.js"></script>
    <script src="http://nodeca.github.io/js-yaml/js/js-yaml.js"></script>



</head>
<body>

    <div ng-view></div>

    <div class="col-lg-8 btn-group btn-group-justified menu-bottom" ng-controller="menuControl">
            <a ng-repeat="menu in menuItems"class="btn btn-menu" href='#{{menu.LinkText}}' ng-click="setCodeGenerator(menu)">
                {{menu.Title}}
            </a>
        </div>
    </div>


</body>
</html>
