#helloworld {
    background-image: url("images/helloworld.jpg");
    background-size: cover;
}

#GitHub {
    background-image: url("images/Github.jpg");
    background-size: cover;
}

#aboutus {
    background-image: url("images/officepage.jpg");
    background-size: cover;
}

#editor {
    position: relative;
}

#generated {
    float:right;
}

.generatorPage {
    /*min-width: 1310px;*/
    /*background: url("images/overlay.png"), url("images/intro.jpg");*/
    /*background-size: cover;*/
    height: 100%;
}

.generatorPage > pre {
    /*top: -162px;*/
    width: 80%;
    min-width: 600px;
    height: 100%;
    display: inline;
    position: relative;
    float: left;
}

.generateButtons {
    /*width: 8em;*/
    /*white-space: initial;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 10px;*/
    display: block;
    margin-bottom: 10px;

}


#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.succesMessage {
    position: fixed;
    top: 3em;
    z-index: 10000;
    width: 100%;
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
}

.errorMessage {
    position: fixed;
    top: 3em;
    z-index: 10000;
    width: 100%;
    background-color: red;
    color: white;
    padding: 5px;
    text-align: center;
}

.formMyAccount{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.codeKiesveld {
    background-color: white;
    color: #39454b;
    /*margin-right: 4px;*/
    width: 65%;
    float:left;
    height: 40px;
}

.codeKiesveld:hover {
    background-color: #EEEEEE;
}

.projectNameAlign{
    text-align: left;
    margin-left: 10px;
}

.projectbuttonsAlign{
    float:left;
    margin-left: 4px;
    margin-top: 2px;
}

.maxLengthDialog {
    overflow-y: initial !important
}
.maxLengthBody {
    height: 300px;
    overflow-y: auto;
}

#myAccountPage > h2 {
    text-align: center;
}

#codegeneratorlink {
    color: #98c593;
}

#projectDate {
    float: left;
}

#generatepage {
    background: url("images/overlay.png"), url("images/intro.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}