#helloworld {
    background-image: url("images/helloworld.jpg");
    background-size: cover;
}

#GitHub {
    background-image: url("images/Github.jpg");
    background-size: cover;
}

#aboutus {
    background-image: url("images/officepage.jpg");
    background-size: cover;
}

#editor {
    position: relative;
}

#generated {
    float:right;
}

.generatorPage {
    /*min-width: 1310px;*/
    /*background: url("images/overlay.png"), url("images/intro.jpg");*/
    /*background-size: cover;*/
    height: 100%;
}

.generatorPage > pre {
    /*top: -162px;*/
    width: 75%;
    min-width: 600px;
    height: 100%;
    display: inline;
    position: relative;
    float: left;
}

.generateButtons {
    /*width: 8em;*/
    /*white-space: initial;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 10px;*/
    display: block;
    margin-bottom: 10px;
}

.disabled {
    background-color: #5B7658;
}

.disabled:hover {
    background-color: #5B7658;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.succesMessage {
    position: fixed;
    top: 3em;
    z-index: 10000;
    width: 100%;
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
}

.errorMessage {
    position: fixed;
    top: 3em;
    z-index: 10000;
    width: 100%;
    background-color: red;
    color: white;
    padding: 5px;
    text-align: center;
}

.formMyAccount{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.codeKiesveld {
    background-color: white;
    color: #39454b;
    /*margin-right: 4px;*/
    width: 65%;
    float:left;
    height: 40px;
}

.codeKiesveld:hover {
    background-color: #EEEEEE;
}

.codeKiesveldGenerator {
    background-color: #5eA8e4;
    color: #39454b;
    width: 100%;
    float:left;
    height: 40px;
    margin: 4px;
}

.codeKiesveldGenerator:hover {
    background-color: #557EEE;
}

.projectNameAlign{
    text-align: left;
    margin-left: 10px;
}

.projectbuttonsAlign{
    float:left;
    margin-left: 4px;
    margin-top: 2px;
}

.maxLengthDialog {
    overflow-y: initial !important
}
.maxLengthBody {
    height: 300px;
    overflow-y: auto;
}

#myAccountPage > h2 {
    text-align: center;
}

#codegeneratorlink {
    color: #98c593;
}

#projectDate {
    float: left;
}

#generatepage {
    background: url("images/overlay.png"), url("images/intro.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.triangle-right.right {
    left: -15%;
    float: left;
    margin-right: 40px;
    background: #075698;
    top: -160px;
}
.triangle-right {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: #fff;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 20%;
}

.triangle-right.right:after {
    top: 16px;
    right: -40px;
    bottom: auto;
    left: auto;
    border-width: 15px 0 0 40px;
    border-color: transparent #075698;
}
.triangle-right:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: #075698 transparent;
    display: block;
    width: 0;
}

.redText {
    color: red;
}